body {
  background-color: #ECCCB2;
  font-family: Poppins;
  line-height: 40px;
}

h1 {
  color: #61481C;
}

h2 {
  color: #A47E3B;
}

#avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #F7EDDB;
}

.btn {
  background-color: #61481C;
  padding: 10px;
  border-radius: 4%;
  margin: 30px;
}

.btn:hover {
  background-color: #61481C;
  opacity: 50%;
  transition: 0.4;
}
.icon_list {
  list-style: none;
  padding-left: 0px;
}

.icon_list li {
  display: inline;
  font-size: 35px;
  color: #ECCCB2;
}

.container {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.card {
  padding: 30px;
  background-color: #F7EDDB;
  border-radius: 4%;
  margin: 30px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
